<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cf3179b465.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Horse Query Portal</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <h3 class="header">Upload a CSV file</h3>
            <form id="form" action="/upload-file" method="POST" enctype="multipart/form-data">
                <div class="container browseFile">
                    <div class="col">
                        <i class="fas fa-cloud-upload-alt fa-5x" style="color: rgb(0, 77, 33);"></i>
                        <label for="file" class="browseFileButton" id="uploadLabel">Browse Files...</label>
                    </div>
                </div>
                <input type="file" id="file" name="file" class="inputfile">
                <br />
                <br />
                <div class="container" id="conditions">
                    <div class="row justify-content-around" id="condition0">

                    </div>
                </div>
                <br />
                <div class="row justify-content-around">
                    <div class="column">
                        <div class="klButton" onclick="addCondition()">Add</div>
                    </div>
                </div>
                <br />
                <br />
                <button class="klButton" onclick="upload()">Upload</button>
            </form>
            <p style="margin-top: 20px; color: red" id="status">{{statusMessage}}</p>
        </div>
    </div>

    <script>
        var count = 0
        var conditionID = "condition" + count

        $(document).ready(function(){
            $( `#${conditionID}` ).load( "{{ url_for('static', filename='html/condition.html') }}" );

            jQuery(document).ready(function() {
                var children = document.getElementById(conditionID).children

                var parametor = children[0].children[0]
                var comparator = children[1].children[0]
                var value = children[2].children[0]
                var button = children[3].children[0]

                parametor.setAttribute("name", "parametor"+count)
                comparator.setAttribute("name", "comparator"+count)
                value.setAttribute("name", "value"+count)
                button.setAttribute("onclick", `deleteCondition(${count})`)
            });

            $('input[type="file"]').change(function(e){
                var fileName = e.target.files[0].name
                var element = document.getElementById("uploadLabel")
                element.innerHTML = fileName
            });
        });

        function upload(){
            event.preventDefault()

            // loading animation
            var element = document.getElementById("status")
            element.innerHTML = ""
            element.classList.add("spinner-border")

            // check if there is any empty field
            var isValid = true
            var textfields = document.getElementsByClassName("textfield")
            for(var i = 0; i < textfields.length; i++){
                if(textfields[i].value == ""){
                    isValid = false
                    textfields[i].placeholder = "please fill this"
                    textfields[i].style.borderColor = "red"
                } else {
                    textfields[i].placeholder = ""
                    textfields[i].style.borderColor = "inherit"
                }
            }

            // if valid form then submit
            if(isValid === true){
                element.style.display = "inline-block"
                document.getElementById("form").submit()
            } else {
                element.style.display = "none"
            }
        }

        function addCondition(){
            count++
            conditionID = "condition" + count

            var row = document.createElement("div")
            row.classList.add("row")
            row.classList.add("justify-content-around")
            row.setAttribute("id", conditionID)

            document.getElementById("conditions").appendChild(row)
            
            $( `#${conditionID}` ).load( "{{ url_for('static', filename='html/condition.html') }}" );

            // make sure loading is completed and assign name and onclick
            jQuery(document).ready(function() {
                var children = document.getElementById(conditionID).children

                var parametor = children[0].children[0]
                var comparator = children[1].children[0]
                var value = children[2].children[0]
                var button = children[3].children[0]

                parametor.setAttribute("name", "parametor"+count)
                comparator.setAttribute("name", "comparator"+count)
                value.setAttribute("name", "value"+count)
                button.setAttribute("onclick", `deleteCondition(${count})`)
            });
        }

        function deleteCondition(index){
            var conditions = document.getElementById("conditions")

            if(conditions.children.length > 1){
                var condition = document.getElementById(`condition${index}`)
                condition.remove()
            }
        }
    </script>
</body>
</html>